{% extends 'base.html.twig' %}
{% block head %}
<title>registrar</title>

{% endblock %}
{% block content %}


	


	    <section class="bg-gray-50 dark:bg-gray-900">
        <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto lg:py-0">
            <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
                <img class="w-8 h-8 mr-2" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg" alt="logo">
                Aten Cion
            </a>
            <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                        Registrar
                    </h1>

                    {{ form_start(registrationForm) }}
                    

                    {# Email Field #}
                    <div class="mb-4">
                        {{ form_label(registrationForm.email, 'Correo', {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}}) }}
                        {{ form_widget(registrationForm.email, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}, 'required': 'required'}) }}
                        {{ form_errors(registrationForm.email) }}
                    </div>

                    {# Password Field #}
                    <div class="mb-4">
                        {{ form_label(registrationForm.password, 'Contraseña', {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}}) }}
                        {{ form_widget(registrationForm.password, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}, 'required': 'required'}) }}
                        {{ form_errors(registrationForm.password) }}
                    </div>

                    {# Nombre Field #}
                    <div class="mb-4">
                        {{ form_label(registrationForm.nombre, 'Nombre', {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}}) }}
                        {{ form_widget(registrationForm.nombre, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}, 'required': 'required'}) }}
                        {{ form_errors(registrationForm.nombre) }}
                    </div>

                    {# Apellidos Field #}
                    <div class="mb-4">
                        {{ form_label(registrationForm.apellidos, 'Apellidos', {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}}) }}
                        {{ form_widget(registrationForm.apellidos, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}, 'required': 'required'}) }}
                        {{ form_errors(registrationForm.apellidos) }}
                    </div>

                    {# Tel Field #}
                    <div class="mb-4">
                        {{ form_label(registrationForm.tel, 'Teléfono', {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}}) }}
                        {{ form_widget(registrationForm.tel, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}, 'required': 'required'}) }}
                        {{ form_errors(registrationForm.tel) }}

                    </div>

                    {# Foto Field #}
                    <div class="mb-4">
                        {{ form_label(registrationForm.foto, 'Foto', {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}}) }}
                        {{ form_widget(registrationForm.foto, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}, 'required': 'required'}) }}
                        {{ form_errors(registrationForm.foto) }}
                    </div>

                    <button type="submit" class="w-full text-white bg-blue-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Registrar</button>

                    {{ form_end(registrationForm) }}

                    <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                        <a href="{{ path('app_login') }}" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Iniciar sesión?</a>
                    </p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
